@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('//db.onlinewebfonts.com/c/89d1a443c316da80dcb8f5e1f3c86e?family=Bauhaus+93');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #0d171f;
  --second: #0998a8;
  --bgColor: #192938;
}

h1,
h2,
p,
h4{
  color:white
}

body{
  position:relative;
  background-color: var(--bgColor);
  font-family: 'Roboto', sans-serif;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}